h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellow;
}

html {
    background-color: yellow;
}

p {
    background-color: blue;
    padding-left: 4px;
    padding-bottom: 4px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 7px;
    font-size: 22px;
}

#container {
    background-color: #E8EEC5;
    width: 700px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

#meuBotao {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, bold;
    padding: 20px;
    font-size: 15px;
    background-color: #e8eec5;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block; /* Torna o botão um elemento de bloco */
    margin: 30px auto; /* Centraliza horizontalmente */
    height: 45px;
    width: 200px; /* defina uma largura fixa */
}

#meuBotao:hover {
    background-color: #0056b3;
}